<% layout('templates/viewTemplate') %>

<div class="row">
    <div class="col-12">
        <h1 class="text-center">Create Item</h1>
        <div class="col-lg-8 offset-lg-2">
            <form action="/itemscreators/createitem" method="POST" novalidate class="validated-form">
                <div class="mb-3 input-group">
                    <% let projectValue = issue ? issue.redmineproject : ''; %>
                    <span class="input-group-text" id="projectLabel">Project</span>
                    <input class="form-control" name="item[project]" list="projectOptions" id="project" placeholder="Type to search..."
                        oninput="validateHtmlList(document, this, 'projectOptions', false)" required value="<%=projectValue%>">

                    <div class="invalid-feedback">
                        Please select project from the list
                    </div>
                    <datalist id="projectOptions">
                        <% projects.forEach(project => { %>
                            <option value="<%=project.name%>">
                        <% }); %>
                        </datalist>
                </div>
                <div class="mb-3">
                    <% trackers.forEach((tracker, index) => { %>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="item[tracker_id]" id="trackerRadio<%=index%>"
                        value="<%=tracker.id%>" <% if(index === 0) { %>checked="checked" <%}%>>
                        <label class="form-check-label" for="trackerRadio<%=index%>"><%=tracker.name%></label>
                    </div>
                    <% }); %>
                </div>
                <div class="mb-3 input-group">
                    <% let subjectValue = issue ? issue.summary : ''; %>
                    <span class="input-group-text" id="subjectLabel">Subject</span>
                    <input class="form-control" type="text" id="topic" name="item[subject]" required value="<%=subjectValue%>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3 input-group">
                    <% let descriptionValue = issue ? issue.description : ''; %>
                    <span class="input-group-text" id="descriptionLabel">Description</span>
                    <textarea class="form-control" type="text" id="description" name="item[description]"
                        required rows="10"><%=descriptionValue%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3 input-group">
                    <% let assigneeValue = ''; 
                       if(issue && issue.assigned){
                          let spaceIndex = issue.assigned.indexOf(' ');
         
                           if(spaceIndex > 0){
                                let assignedLogin = issue.assigned.substring(0, spaceIndex);
                                let asigneeUser = users.find(u => u.login === assignedLogin);
            
                                if(asigneeUser)
                                     assigneeValue = asigneeUser.name;
                            }
                       }
                    
                    %>

                    <span class="input-group-text" id="issueLabel">Assignee</span>
                    <input class="form-control" list="assigneeOptions" name="item[assignee]" id="assignee" placeholder="Type to search..."
                        oninput="validateHtmlList(document, this, 'assigneeOptions', true)" value="<%=assigneeValue%>">
                    <div class="invalid-feedback">
                        Please select user from the list or leave this field empty
                    </div>
                    <datalist id="assigneeOptions">
                        <% users.forEach(user => { %>
                            <option value="<%=user.name%>">
                        <% }); %>
                        </datalist>
                </div>
                <div class="mb-3 input-group">
                    <span class="input-group-text" id="issueLabel">TMS Task</span>
                    <input class="form-control" type="text" id="tms" name="item[tms]" pattern="^[A-Z]{4,5}-[\d]{1,9}$">
                </div>
                <div class="mb-3 input-group">
                    <% let issueValue = issue ? issue.id : ''; %>
                    <span class="input-group-text" id="issueLabel">Issue</span>
                    <input class="form-control" type="text" id="issue" name="item[issue]" pattern="^ISS-[A-Z]{3,4}-[\d]{1,9}I[T|S]$"
                    value="<%=issueValue%>">
                </div>
                <div class="mb-3 input-group">
                    <span class="input-group-text" id="crLabel">CR</span>
                    <input class="form-control" type="text" id="cr" name="item[cr]" pattern="^CR-[A-Z]{3,4}-[\d]{1,9}I[T|S]$">
                </div>

                <% let issueSource = additionalinfo ? additionalinfo.source : ''; %>
                <input type="hidden" id="item_source" name="additionalinfo[source]" value="<%= issueSource %>">
                <% let softDevProject = additionalinfo ? additionalinfo.softdevproject : ''; %>
                <input type="hidden" id="item_softdevproject" name="additionalinfo[softdevproject]" value="<%= softDevProject %>">
                <% let displayCreated = additionalinfo ? additionalinfo.displaycreated : ''; %>
                <input type="hidden" id="item_displaycreated" name="additionalinfo[displaycreated]" value="<%= displayCreated %>">

                <div class="mb-3">
                    <button class="btn btn-success">Create Item</button>
                </div>

            </form>

        </div>
    </div>
</div>