<% layout('templates/viewTemplate') %>

<div class="row">
    <div class="col-12">
        <h1 class="text-center">Create Items From Regressions</h1>

        <form action="/itemscreators/createitemsfromregressions" method="<%= searchData ? 'GET' : 'POST' %>" novalidate
            class="validated-form ">
            <div class="container-fluid">
                <datalist id="softDevProjectOptions">
                    <% softDevProjects.forEach(project => { %>
        <option value="<%=project.PRODUCT_VERSION_NAME%>">
            <% }); %>
            </datalist>

                <datalist id="redmineProjectOptions">
                        <% redmineProjects.forEach(project => { %>
                            <option value="<%=project.name%>">
                        <% }); %>
                        </datalist>

                <div class="row align-items-center ">
                    <div class="col-12 col-xl-6 col-xxl-5 mt-2">
                        <div class="input-group ">
                            <span class="input-group-text" id="softDevProjectLabel">Version / Packet</span>

                            <% let softDevProject = '';
                               
                               if(searchData)
                                    softDevProject = searchData.softdevproject;
                                else if(regressionsDefaultSoftDevProject !== undefined)
                                    softDevProject = regressionsDefaultSoftDevProject;
                            %>

                            <input class="form-control" name="searchData[softdevproject]" list="softDevProjectOptions" id="softDevProject"
                            value="<%= softDevProject %>"
                            <%= searchData ? 'disabled' : '' %>
                            placeholder="Type to search..." oninput="validateHtmlList(document, this,
                            'softDevProjectOptions', false)" required>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 col-xxl-5 mt-2">

                        <div class="input-group ">
                            <span class="input-group-text" id="redmineProjectLabel">Redmine Project</span>

                            <% let redmineProject = '';
                               
                            if(searchData)
                                redmineProject = searchData.redmineproject;
                             else if(regressionsDefaultRedmineProject !== undefined)
                                redmineProject = regressionsDefaultRedmineProject;
                            %>

                            <input class="form-control" name="searchData[redmineproject]" list="redmineProjectOptions" id="redmineProject"
                            value="<%= redmineProject %>"
                            <%= searchData ? 'disabled' : '' %>
                        placeholder="Type to search..." oninput="validateHtmlList(document, this, 'redmineProjectOptions', false)" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-3  col-xl-2 col-xxl-2 mt-2">
                        <div class="form-check">
                            <% let displayCreated = '';
                               
                            if(searchData)
                                displayCreated = searchData.displaycreated;
                             else if(regressionsDefaultDisplayCreated !== undefined)
                                displayCreated = regressionsDefaultDisplayCreated;
                            %>

                            <input class="form-check-input" name="searchData[displaycreated]" type="checkbox" value="true" id="displayCreated"
                            <%= (displayCreated === 'true') ? 'checked' : ''%>
                            <%= searchData ? 'disabled' : '' %> >
                            <label class="form-check-label" for="displayCreated">
                              Display Created
                            </label>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 mt-2">
                        <button class="btn btn-success "><%= searchData ? 'Clear' : 'Find Items' %></button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="row">
    <% if(softDevIssues) { %>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Issue #</th>
                <th scope="col">Summary</th>
                <th scope="col">Registered</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% softDevIssues.forEach(issue => { %>
            <tr>
                <th scope="row"><%= issue.ISSUE_ID %></th>
                <td><%= issue.ISSUE_SUMMARY %></td>
                <td><%= issue.ISSUE_REGISTERED_BY %></td>
                <td>
                    <% if(issue.REDMINE_LINK) { %>
                    <a href="<%= issue.REDMINE_LINK %>" class="btn btn-primary">Go To Item</a>
                    <% } else { %>
                    <form action="/itemscreators/createitemfromregression" method="POST">
                        <input type="hidden" id="issue_id" name="issue[id]" value="<%= issue.ISSUE_ID %>">
                        <input type="hidden" id="issue_summary" name="issue[summary]" value="<%= issue.ISSUE_SUMMARY %>">
                        <input type="hidden" id="issue_description" name="issue[description]" value="<%= issue.ISSUE_DESCRIPTION %>">
                        <input type="hidden" id="issue_assigned" name="issue[assigned]" value="<%= issue.ISSUE_ASSIGNED_TO %>">
                        <% let redmineproject = searchData ? searchData.redmineproject : ''%>
                        <input type="hidden" id="issue_redmineproject" name="issue[redmineproject]" value="<%= redmineproject %>">
                        <% let softdevproject = searchData ? searchData.softdevproject : ''%>
                        <input type="hidden" id="issue_softdevproject" name="additionalinfo[softdevproject]" value="<%= softdevproject %>">
                        <% let displayCreated = searchData ? searchData.displaycreated : ''%>
                        <input type="hidden" id="issue_softdevproject" name="additionalinfo[displaycreated]" value="<%= displayCreated %>">
                        <input type="hidden" id="issue_source" name="additionalinfo[source]" value="<%= 'regressions' %>">

                        <button class="btn btn-success">Create Item</button>
                    </form>
                    <% } %>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <% } %>
</div>